<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="NominaEntities" connectionString="metadata=res://*/Modelo_Nomina.csdl|res://*/Modelo_Nomina.ssdl|res://*/Modelo_Nomina.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS\SQLEXPRESS;initial catalog=Nomina2019;persist security info=True;user id=sa;password=white582;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>